%h1 Listing clubs

%table
  %tr
    %th Name
    %th Foundation
    %th District
    %th
    %th
    %th

  - @clubs.each do |club|
    %tr
      %td= club.name
      %td= club.foundation
      %td= club.district
      %td= link_to 'Show', club
      %td= link_to 'Edit', edit_club_path(club)
      %td= link_to 'Destroy', club, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Club', new_club_path
